.modal {
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  bottom: 0;
  animation-name: animateBottom;
  animation-duration: 0.25s;
}

.modal__header {
  display: flex;
  align-items: center;
}

.modal__icon {
  margin-right: 2rem;
}

.modal__content {
  padding: 1rem 2rem 2rem 2rem;
}

.modal__navigation {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #626262;
  padding: 1rem 2rem 2rem 2rem;
}

.modal__button {
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 2px solid #203241;
  border-radius: 7px;
}

.modal__button--cancel {
  background-color: #f2f2f2;
}

.modal__button--cancel:hover {
  background-color: #dfdfdf;
}

.modal__button--cancel:active {
  background-color: #f2f2f2;
}

.modal__button--continue {
  background-color: #203241;
  color: white;
}

.modal__button--continue:hover {
  background-color: #304c63;
}

.modal__button--continue:active {
  background-color: #203241;
}

// Tablet/Desktop Md Breakpoint
@media screen and (min-width: 768px) {
  .modal {
    position: relative;
    width: 75%;
    animation-name: animateTop;
    animation-duration: 0.25s;
  }

  .modal__navigation {
    flex-direction: row;
    justify-content: center;
  }

  .modal__button {
    margin: 0 0.25rem;
    padding: 1rem 5rem;
  }
}

// Animate in from bottom - on Mobile
@keyframes animateBottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

// Animate in from top - on Tablet/Desktop
@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
