// Typography
$bodyFontSize: 16px;
$bodySizeRaw: 16;
$headingFont: "Roboto", sans-serif;
$bodyFont: "Roboto", sans-serif;

// Breakpoints Width
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
