h2 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

button {
    cursor: pointer;
}

.overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: grey;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.modal__header {
    display: flex;
    align-items: center;
}

.modal__icon {
    margin-right: 2rem;
}

.modal__content {
    padding: 1rem 2rem 2rem 2rem; 
}

.modal__navigation {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    padding: 1rem 2rem 2rem 2rem; 
}

.modal__button {
    margin-bottom: 0.5rem;
    padding: 2rem;
    border: 2px solid darkblue;
    border-radius: 7px;
}

.modal__button--cancel {
    background-color: white;
}

.modal__button--cancel:hover {
    background-color: #dfdfdf;
}

.modal__button--continue {
    background-color: darkblue;
    color: white;
}

.modal__button--continue:hover {
    background-color: #2727be;  
}